<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Yojana</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
      body {
        padding-top: 70px;
        padding-bottom: 20px;
      }

      .jumbotron {
        text-align: center;
        background-color: transparent;
      }
    </style>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Yojana</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" name="search" placeholder="Search" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">GO</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">@{context.get("doc").getString("name")}</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              @{context.get("doc").getString("summary")}
            </div>
            <div class="col-md-4">
                <div class="list-group">
                  <div class="list-group-item active">
                    <h4 class="list-group-item-heading">Minimum Qualifications</h4>
                    <p class="list-group-item-text">Age: @{context.get("doc").getInteger("age")}</p>
                    <p class="list-group-item-text">Income (per annum): @{context.get("doc").getInteger("income_per_annum")}</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Factly 2015</p>
      </footer>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>